nav{
    position: relative;
    width: 100%;

    // center the nav
    display: flex;
    justify-content: center;
    align-items: center;
    
    // add spacing between nav items
    a{
        margin: 0 1rem;
    }
}